In [1]:
import pandas as pd
import plotly.express as px
import plotly.offline as po

In [2]:
df = pd.read_csv('gdp.csv')

In [3]:
final_data = []

for code in df['Country Code'].unique():

    df_pr = df[df['Country Code'] == code]

    data = df_pr.values
    gdp_change = [0]

    for i in range(1, len(data)):

        prev = data[i-1][3]
        cur = data[i][3]

        gdp_change.append(round(((cur-prev)/prev)*100, 2))

    df_pr = df_pr.assign(GDP = gdp_change)

    final_data.append(df_pr)

df = pd.concat(final_data, axis = 0)

df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

## GDP of all Countries

In [4]:
fig = px.line(df, x = 'Year', y = 'Value', 
              title = 'All countries GDP Analysis', 
              color = 'Country Name')
po.plot(fig, filename = 'Countries GDP.html')

'Countries GDP.html'

## GDP Comparison between China & India

In [5]:
c1 = df[df['Country Name'] == 'China']
c2 = df[df['Country Name'] == 'India']

In [6]:
df_pr = pd.concat([c1, c2], axis = 0)
df_pr

     Country Name Country Code  Year         Value    GDP
4046        China          CHN  1960  5.971647e+10   0.00
4047        China          CHN  1961  5.005687e+10 -16.18
4048        China          CHN  1962  4.720936e+10  -5.69
4049        China          CHN  1963  5.070680e+10   7.41
4050        China          CHN  1964  5.970834e+10  17.75
...           ...          ...   ...           ...    ...
6126        India          IND  2012  1.827638e+12   0.25
6127        India          IND  2013  1.856722e+12   1.59
6128        India          IND  2014  2.035393e+12   9.62
6129        India          IND  2015  2.089865e+12   2.68
6130        India          IND  2016  2.263792e+12   8.32

[114 rows x 5 columns]

In [7]:
fig = px.line(df_pr, x = 'Year', y = 'Value', 
              title = 'GDP comparison between China & India', 
              color = 'Country Name')

po.plot(fig, filename = 'GDP Comparison CHN & IND.html')

'GDP Comparison CHN & IND.html'

## GDP comparison between World, India & Japan

In [8]:
c1 = df[df['Country Name'] == 'World']
c2 = df[df['Country Name'] == 'India']
c3 = df[df['Country Name'] == 'Japan']


df_pr = pd.concat([c1, c2, c3], axis = 0)

fig1 = px.line(df_pr, x = 'Year', y = 'Value', 
              title = 'GDP comparison | World & India & Japan', 
              color = 'Country Name')

po.plot(fig1, filename = 'GDP Comparison World, IND, JPN.html')

'GDP Comparison World, IND, JPN.html'

## GDP Comparison between Specific Countries

In [9]:
lst = ['JPN', 'IND', 'USA', 'CHN']

dfs = []

for i in lst:
    dfs.append(df[df['Country Code'] == i])
    df_pr = pd.concat(dfs, axis = 0)

In [10]:
fig = px.line(df_pr, x = 'Year', y = 'Value', 
                title = 'GDP Comparison - ' + '|'.join(lst), 
                color = 'Country Name')

po.plot(fig, filename = '-'.join(lst) + '.html')

'JPN-IND-USA-CHN.html'

In [11]:
# Definig Function for automation

def compare_gdp(lst, isopen):
    dfs = []
    for i in lst:
        dfs.append(df[df['Country Code'] == i])
        df_pr = pd.concat(dfs, axis = 0)
        
    fig = px.line(df_pr, x = 'Year', y = 'Value', 
                title = 'GDP Comparison - ' + '|'.join(lst), 
                color = 'Country Name')
    po.plot(fig, filename = '-'.join(lst) + '.html', auto_open = isopen)

In [12]:
# Passing two arguments - 1. Country code list, 2. Graph open True/False

compare_gdp(['JPN', 'IND', 'USA'], True)